#login {
    top: 50%;
    left: 50%;
    width: 25%;
    min-width: 210px;
    height: 26%;
    min-height: 115px;
    position: absolute;
    margin-top: -10%; /* 20%/2 */
    margin-left: -12.5%; /* 25%/2 */
    background-color: #C6E2FF;
    border-radius: 8px;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #424358;
    border-width: 1px;
}

#login:hover {
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
}

#login:active {
    box-shadow: 0 0 80px rgba(0,0,0,0.7);
}

#center {
    text-align: center;
    font-size: 140%;
    margin-top: 3%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    color: #424358;
}

.leftSide {
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: 2%;
    float: left;
    width: 30%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 120%;
    font-style: oblique;
    color: #424358;
}

.rightSide  {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    float: right;
    width: 55%;
    height: 12%;
    padding: 2%;
    line-height: 20%;
    border: solid 1px #424358;
    border-radius: 8px;
    background-color: mintcream;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    font-size: 85%;
    color: #424358;
    outline: none;

}

#button {
    position: relative;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-right: 5%;
    line-height: 10%;
    float: right;
    width: 20%;
    height: 16%;
    border: solid 1px #424358;
    border-radius: 8px;
    background-color: mintcream;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 110%;
    color: #424358;
    text-align: center;
}

#forget {
    position: relative;
    margin-top: 12%;
    margin-bottom: 1%;
    margin-left: 2%;
    line-height: 10%;
    float: left;
    width: 70%;
    height: 16%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 105%;
    color: #424358;
    text-align: left;
    outline: none;
    border: none;
    background-color: #C6E2FF;
   /* font-style: italic;*/
}

#forget:hover {
    cursor: pointer !important;
    cursor: hand;
    outline: none;
    color: green;
}

#button:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    cursor: pointer !important;
    cursor: hand;
}
#button:active {
    border: solid 1px #424358;
    cursor: pointer !important;
    cursor: hand;
}

p {
margin-top: 0.5%;
}

#button2 {
    position: relative;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 5%;
    line-height: 10%;
    float: right;
    width: 20%;
    height: 13%;
    border: solid 2px #424358;
    border-radius: 8px;
    background-color: mintcream;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 95%;
    color: #424358;
    text-align: center;
}

