#menu {
    float: left;
    position: absolute; /*for using height in % for div we should use absolute or fixed*/
    width: 10%;
    min-width: 105px;
    height: 73%;
    min-height: 73%;
    left: 2.5%; /*not margin-left because we have positioned blocks*/
    top: 15%;
    background-color: #C6E2FF;
    border-radius: 5px;
}

#mainPart {
    float: right;
    position: absolute;
    height: 73%;
    width: 60%;
    min-width: 273px;
    min-height: 73%;
    left: 25%;
    right: 2.5%;
    top: 16%;
    text-align: left;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 140%;
    text-indent: 20px;
    color: #424358;
}

.menuButtons {
    display: inline-block;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-right: 3px;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    font-size: 130%;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    background-color:#FFFFF0;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
    color: #424358;
}

.menuButtons:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    border-width: 2px;
    cursor: pointer;
}

.menuButtons:active {
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    border-width: 4px;
    cursor: pointer;
}

