
#hWelcome {
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    font-size: 200%;
    text-align: center;
    margin-top: 3%;
}


#prologue {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 130%;
    margin-left: 5%;
    width: 65%;
    min-width: 785px;
    padding-left: 1%;
    padding-top: 1%;
    color: #424358;
}

h4 {
    margin-left: 7%;
    margin-bottom: 1%;
    margin-top: 1%;
    text-shadow: #C6E2FF 3px 4px 5px;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 170%;
    min-width: 554px;
}

#whatToDo {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 130%;
    margin-left: 50%;
    width: 48%;
    min-width: 620px;
    padding-left: 1%;
    padding-top: 1%;
    color: #424358;
    text-align: right;
}

#howThisSiteHelp {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 130%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 600px;
    padding-left: 1%;
    padding-top: 2%;
    color: #424358;
}

.buttons {
    display: inline-block;
    width: 45%;
    height: 60%;
    min-height: 40px;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 4%;
    /*margin-right: 1%;*/
    font-family: "Monotype Corsiva", cursive;
    font-size: 120%;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    background-color: #FFFFF0;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
}

#buttonContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 10%;
}

.buttons:hover {
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
    border-width: 2px;
    cursor: pointer;
}