html, body {  /*for using % height then */
    width: 100%;
    min-width: 1100px;
    height: 100%;
    min-height: 504px;
    margin: 0;
    padding: 0;
}

body {
    background-color:#FFFFF0;
}

#header {
    /*position: absolute;*/  /* for div span and div span span. We need all this for center text vertical*/
    width: 95%;
    min-width: 1000px;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: -3%;
    background-color: #C6E2FF;
    border-radius: 5px;
    text-align: center;
    line-height: 130%;
    color: #424358;
    font-family: "Monotype Corsiva", cursive;
    font-size: 400%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 5%;
    min-height: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #C6E2FF;
    border-radius: 5px;
    text-align: center;
    line-height: 20%;
    color: #424358;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

#spendingStyle {
    line-height: 20%;
    color: #424358;
    font-family: "Monotype Corsiva", cursive;
    text-decoration:none;
}

.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(198, 226, 255, 0.5);
}

.tooltipError {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25%;
    height: 15%;
    margin: auto;
    text-align: center;
    padding-right: 1%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 110%;
    border: inset 1px;
    border-radius: 4px;
    box-shadow: 0 0 80px rgba(82, 148, 235, 1);
    border-color: #424358;
    background: #fff;
    color: #424358;
}


.divForExclamation  {
    color: #8B0000;
    font-size: 400%;
    top: 0;
    display: inline-block;
    float: left
}

.divForMessage {
    float: left;
    width: 90%;
    margin-top: 5%;
    margin-left: 3%
}

#acceptTheError {
    position: absolute;
    width: 20%;
    height: 25%;
    bottom:  7%;
    left: 75%;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    border: inset 1px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}

#acceptTheError:hover{
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    cursor: pointer !important;
    cursor: hand;
}


html>body #all {
    height: auto;
    min-height: 100%;
}

#all {
    height: 100%;
    width:95%;
    position: relative;
    margin:0 auto;
    padding-bottom: 7%;
    top: 4%;
}

#welcomeString{
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
    text-align: right;
    float: right;
    margin-right: 2.7%;
    margin-top: 2%;
    color: #424358;
    width: 25%;
    height: 5%;
    line-height: 0.1em;
}


#navigationButtonsToAccount {
    margin-top: 2%;
    border: 2px solid #C0E4F0;
    border-radius: 4px;
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 120%;
    font-style: italic;
    color: #424358;
    background-color: mintcream;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    float: left;
    margin-left: 2.7%;
    width: 10%;
    height: 5%;
    min-width: 149px;
    min-height: 26px;
}

#navigationButtonsToAccount:hover {
    cursor: hand;
    cursor: pointer !important;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
    border: 1px solid #424358;
}

#LogOut {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    /*width: 23%;*/
    display: inline-block;
    height: 100%;
    color: #424358;
    font-size: 100%;
    text-decoration: underline;
    border: none;
    background-color: #FFFFF0;
    outline: none;
    min-width: 86px;
    min-height: 26px;
}

#LogOut:hover {
    cursor: pointer !important;
    cursor: hand;
    outline: none;
}

#LogOut:active {
    cursor: pointer !important;
    cursor: hand;
    color: green;
    outline: none;
}

li {
    margin-bottom: 3%;
    font-size: 100%;
}

.sortTH:hover {
    cursor: pointer !important;
    cursor: hand;
}

.arrows {
    font-weight:normal;
}

#loadImg {
    position:absolute;
    z-index:1000;
    display:none
}