#container {
    width: 100%;
    min-width: 1000px;/*I have problem when window small that elements mix up. So I looked in F12 in
    what size it is happened and it is 960px So after that will show skroll*/
    margin: 0;
    padding-top: 0;
    position: relative;
    min-height: 100%;
}

body {
    background-color:#FFFFF0;
}
#mainHeader {
    margin-top: 0;
    color: #424358;
    font-family: "Monotype Corsiva", cursive;
    font-size: 850%;
    text-align: center;
    text-shadow: 1px 1px 20px rgba(198, 226, 255, 1);
}

#forButtons {
    position: absolute;
    top: 35%;
    width: 20%;
    min-width: 170px;
    height: 40%;
    left: 50%;
    margin-left: -10%;

}

.startPageButton {
    display: inline-block;
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: "Monotype Corsiva", cursive;
    font-size: 150%;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
}

.startPageButton:hover {
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
    border-width: 2px;
    cursor: pointer;
}

.startPageButton:active {
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
    border-width: 4px;
    background-color: #EBF9F3;
    cursor: pointer;
}


