#tableMonth {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 2%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 110%;
    border: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    border-collapse: collapse;
}

table {
    min-width: 1162px;
}

caption {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 1%;
}

th,td {
    border: solid;
    border-color: #424358;
    border-width: 1px;
}

#buttonForSave:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    border-width: 2px;
    cursor: pointer !important;
    cursor: hand;
}

.formForSpending {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}

#selectDataOfSpending2 {
    width: 80%;
    border:none;
    border-color: white;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 3px;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
    white-space: pre-wrap;
}

#spendingStyle {
    line-height: 20%;
    color: #424358;
    font-family: "Monotype Corsiva", cursive;
    text-decoration:none;
}

#selectDataOfSpending2:hover {
    cursor: pointer !important;
    cursor: hand;
}
/*for hidden avto borders in select*/
select:focus {
    outline:none;
}

#inputNameOfSpendings {
    margin-left: 4%;
    margin-right: 4%;
    height: 100%;
    width: 91%;
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
}

#costOfSpendings {
    height: 100%;
    width: 89.5%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
}

.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 2px solid #C0E4F0;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 arial, sans-serif;
    color: #424358;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

#HighImportance {
    display: inline-block;
    margin-left: 3.5%;
    width: 100%;
}

input {
    border-radius: 4px;
}

.importance {
    border: 1px solid #424358;
    border-radius: 4px;
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
    background: #fff;
    width: 45%;
}

.importance:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    cursor: pointer !important;
    cursor: hand;
}

#actionButtonsForm {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.buttonAction {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 31%;
    height: 100%;
    background-color: #FFFFF0;
    border: none;
    padding: 0;
}

img {
    width: 60%;
    height: 70%;
    padding: 0;
    margin: 0;
}

img:hover {
    cursor: pointer !important;
    cursor: hand;
}

.forValidationMassage{
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 8px;
    color: red;
}

#highImportanceMassage {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
    text-align: center;
    color: #8B0000;
}


#notHighImportanceMassage {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
    text-align: center;
}

.forSavingText {
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 95%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    line-height:110%;
    font-weight: normal;
}

.customButtons {
    border: 1px solid #424358;
    border-radius: 4px;
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
    background: #fff;
    width: 7%;
    margin-left: 3%;
    margin-top: 4%;
}

#addKindOfSpending {
    top: 55%;
    left: 50%;
    width: 23%;
    min-width: 210px;
    height: 20%;
    min-height: 115px;
    position: absolute;
    margin-top: -10%; /* 20%/2 */
    margin-left: -12.5%; /* 25%/2 */
    background-color: #C6E2FF;
    border-radius: 8px;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #424358;
    border-width: 1px;
}

#addNewSpendingSpan {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    color: #424358;
    font-size: 120%;
    text-align: center;
    line-height: normal;
    margin-top: 3%;
}

#addNewSpendingInputId {
    margin-top: 8%;
    margin-left: 7%;
    width: 85%;
    height: 15%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    color: #424358;
    font-size: 110%;
    text-align: center;
    line-height: normal;
}

#addNewSpendingInputId:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

.addNewSpendingButton{
    position: relative;
    width: 30%;
    height: 20%;
    margin-left: 13%;
    margin-top: 5%;
    border: solid 1px #424358;
    border-radius: 8px;
    background-color: mintcream;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 110%;
    color: #424358;
    text-align: center;
}

.addNewSpendingButton:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    cursor: hand;
    cursor: pointer !important;
}

#shortAlert{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 3%;
    width: 25%;
    height: 10%;
    margin: auto;
    border-radius: 4px;
    padding-left: 2%;
    padding-right: 1%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    text-align: center;
    font-size: 140%;
    border: inset 1px;
    box-shadow: 0 0 180px rgba(82, 148, 235, 1);
    border-color: white;
    background-color: #fff;
    color: #424358;
}

#buttonsForAcceptDelete {
    display: table-cell;
    float: left;
    margin-left: 15%;
    margin-top: 3%;
    width: 30%;
    height: 25%;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    border: inset 1px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 95%;
}

#buttonsForCancelDelete {
    display: table-cell;
    float: right;
    margin-right: 10%;
    margin-top: 3%;
    width: 30%;
    height: 25%;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    border: inset 1px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 95%;
}

#buttonsForAcceptDelete:hover,#buttonsForCancelDelete:hover {
    cursor: hand;
    cursor: pointer !important;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
    border: 1px solid #424358;
}


#firstButtonForAddOption {
    float: right;
    width: 18%;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    border: inset 1px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    color: green;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 95%;
}

#firstButtonForAddOption:hover {
    cursor: hand;
    cursor: pointer !important;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    border: 1px solid #424358;
}

#sum {
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 120%;
    margin-top: 1%;
}

#datepicker {
    width: 100%;
    text-align: center;
    position: relative;
    margin: auto;
    border:none;
    outline: none;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 95%;
}


#datepicker:hover {
    cursor: pointer !important;
    cursor: hand;
}

.ui-datepicker-calendar {
    width: 20%;
    min-width: 309px;
}

#ui-datepicker-div {
    width: auto;
}

div.ui-widget-header {
    background:#C6E2FF;
}

div.ui-widget {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}

.highlight {
    background-color: aliceblue;
}

