#SignUpButton {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    margin-top: 3%;
    margin-right: 2%;
    line-height: 10%;
    float: right;
    width: 20%;
    height: 12%;
    border: solid 1px #424358;
    border-radius: 8px;
    background-color: mintcream;
    font-size: 110%;
    color: #424358;
    text-align: center;
}

#SignUpButton:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    cursor: pointer;
}
#SignUpButton:active {
    border: 1px solid  #424358;
    cursor: pointer;
}

#registration {
    top: 50%;
    left: 50%;
    width: 27%;
    min-width: 270px;
    height: 32%;
    min-height: 230px;
    position: absolute;
    margin-top: -10%; /* 20%/2 */
    margin-left: -12.5%; /* 30%/2 */
    border-radius: 8px;
    background-color: #C6E2FF;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #424358;
    border-width: 1px;
}


#center {
    text-align: center;
    font-size: 130%;
    margin-top: 3%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    color: #424358;
}

.leftSide {
    margin-top: 3%;
    margin-left: 2%;
    float: left;
    width: 35%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 110%;
    font-style: oblique;
    color: #424358;
}

.rightSide  {
    margin-top: 1%;
    margin-right: 2%;
    float: right;
    width: 40%;
    height: 8%;
    padding: 2%;
    line-height: 20%;
    border: solid 1px #424358;
    border-radius: 8px;
    background-color: mintcream;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    font-size: 95%;
    color: #424358;
    outline: none;
}

#registration:hover {
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
}

.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #C0E4F0;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 arial, sans-serif;
    color: #424358;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}


#bottom {
    text-align: center;
    font-size: 105%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #424358;
}

#bottom:hover {
    color: green;
}

#linkLogin {
    color: #2E8B57;
    font-size: 105%;
}

.acceptTheError2 {
    position: absolute;
    width: 20%;
    height: 24%;
    bottom:  6%;
    left: 75%;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    border: inset 1px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}


.acceptTheError2:hover{
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    cursor: pointer !important;
    cursor: hand;
}
