body {
    min-width: 1219px;
}

#content {
    position: relative;
    margin-top: 2%;
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 13%; /*for footer, I do not know wether it will work or not*/
}

#pForHeader {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 140%;
    text-indent: 20px;
    color: #424358;
    text-align: center;
    margin-top: 10%;
}

.divForDate {
    float: left;
    position: absolute; /*for using height in % for div we should use absolute or fixed*/
    width: 10%;
    min-width: 21px;
    height: 5%;
    left: 39%; /*not margin-left because we have positioned blocks*/
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 140%;
    text-indent: 20px;
    color: #424358;
    text-align: center;
}

.selectForDateDiv {
    float: right;
    position: absolute;
    height: 5%;
    width: 7%;
    right: 41%;
    border-style: inset;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    background-color:#FFFFF0;
    border-radius: 4px;
    border-width: 1px;
}

.selectOptions {
    width: 100%;
    height: 100%;
    border:0px;
    outline:0px;
    font-size: 110%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}

.selectOptions:hover {
    cursor: hand;
    cursor: pointer !important;
}

.selectForDateDiv:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-width: 2px;
    border-color: #C6E2FF;
    border-style: inset;
}

#buttonForCreateNewMonth {
    position: relative;
    height: 5%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    background-color:#FFFFF0;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 7px;
    padding-bottom: 3px;
    text-align: center;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 130%;
    font-style: italic;
    line-height: 150%; /*for center one string in div vertical*/
}

#buttonForCreateNewMonth:hover {
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
    border-width: 4px;
    cursor: hand;
    cursor: pointer !important;
}

