#listOfMonths {
    float: left;
    display: none;
    width: 10%;
    height: 100%;
    margin-left: 2.7%;
    margin-top: 2%;
    background-color: #C6E2FF;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 105px;
    min-height: 279px;
}

#mainPartForTable {
    float: right;
    width: 86%;
    left: 13%;
    right: 3%;
    text-align: left;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 100%;
    color: #424358;
    min-width: 795px;
}

.listLinks {
    display: inline-block;
    width: 90%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 3px;
    margin-right: 2.5px;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    font-size: 130%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
    color: #424358;
}

.listLinks:hover {
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
    border-width: 2px;
    cursor: pointer;
}

.listLinks:active {
    box-shadow: 0 0 80px rgba(0,0,0,0.7);
}

.listSelectedStyle {
    border: 1px solid;
    border-color: #424358;
    border-radius:4px;
    background-color:#FFFFF0;
}

#table {
    position: relative;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    height: auto;
    margin-top: 2%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 120%;
    border: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    border-collapse: collapse;
}


caption {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 1%;
}

th,td {
    border: solid;
    border-color: #424358;
    border-width: 1px;
}

tr {
    text-align: center;
}

#headerTable {
    background-color: #C6E2FF;
}

.mainCellFormat {
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 95%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    line-height:110%;
}

#sum {
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 120%;
    margin-top: 1%;
    height: 5%;
    width: 10%;
    display: none;
    position: relative;
}

div h2 {
    margin-top: 5%;
    text-align: center;
    font-size: 250%;
}

div>div h3 {
    display: block;
    width: 50%;
    position: relative;
    margin: auto;
    color: #424358;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 170%;
    margin-bottom: 4%;
    margin-top: 4%;
    text-align: center;
}

ul {
    display: block;
    position: relative;
    margin: auto;
    width: 50%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 130%;
    color: #424358;
}

#editButton {
    display: none;
    width: 10%;
    float: right;
    margin-top: 20px;
    margin-right: 5%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    font-size: 130%;
    border-style: inset;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    border-color: #C6E2FF;
    background-color:#FFFFF0;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
    color: #424358;
}

#editButton:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    border-width: 2px;
    cursor: pointer;
}

#editButton:active {
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    border-width: 4px;
    cursor: pointer;
}

.notHavingHistory  {
    display: inline-block;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-style: italic;
    font-size: 150%;
    text-align: center;
    color: #424358;
}